.cards-wrapper{
  display: flex;
  gap: 12px;
  overflow-x: auto;
  overflow-y: hidden; 
  flex-shrink: 0; // დარწმუნდი რომ გაქვს!
  flex-grow: 0;
}
.card_wrapper{
  flex-shrink: 0; 
  margin-top: 15px;
  width: 170px;
  height: 254px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
 
  &:hover{
    transform: scale(1.05); 
    .second{opacity: 1;}
    .third{opacity: 1;}
  }
}
.card_banner{
  width: 170px;
  height: 170px;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 15px;
  position: relative;
  z-index: 1;
}
.second{
  width: 154px;
  height: 170px;
  border-radius: 8px;
  background-color: rgba(206, 110, 154, 0.3);
  position: absolute;
  z-index: 0;
  top: 6px;
  left: 8px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.third{
  width: 133px;
  height: 170px;
  border-radius: 8px;
  background-color: rgba(206, 110, 154, 0.15);
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 18.5px;
  opacity: 0;
 transition: opacity 0.3s ease, transform 0.3s ease;
}
.card_content{
  margin-top: 5px;
}
.content_header{
  display: flex;
  justify-content: space-between;
}
.card_title, .card_number{
  font-size: 14px;
  font-weight: 400;
  color: #E0E0E0;
}
.card_text{
  font-size: 12px;
  padding-top: 8px;
  font-weight: 400;
  color: #898989;
}
.section_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.section_title{
  font-size: 20px;
  color: #E0E0E0;

}
.section_controls{
  display: flex;
  gap: 12px;

}
.arrow{
  color: #898989;
  &:hover{
    color: #E0E0E0;
  }
}
// hide horizontal scrollbar
.cards-wrapper::-webkit-scrollbar,
.search_card-wrapper::-webkit-scrollbar {
    display: none;
}

.cards-wrapper,
.search_card-wrapper {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}
@media(max-width:390px){
  .card_wrapper{
    height: 210px;
    width: 141px;
  }
}

