// search section
.search_card-wrapper{
    display: flex;
    margin: 25px;
    gap: 30px;
}


.search_card{
    position: relative;
    background-color:transparent;
    width: 170px;
    height: 205px;
    text-align: center;
    object-fit: cover;
    transition: transform 0.3s ease;
     &:hover {
    transform: scale(1.05);

    .search_card-banner {
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
    }
  }
}
.search_card-square{
    position: relative;
    width: 170px;
    height: 230px;
    background-color:transparent;
    transition: transform 0.3s ease;
     &:hover {
        transform: scale(1.05);

    .search_card-rectangle {
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
    }
    .hover-square {
      opacity: 1; 

    }
}
}
.search_card-banner{
    border-radius: 50%;
    transition: box-shadow 0.3s ease;
}
.search_card-rectangle{
    position: absolute;
    top: 10px;
    width: 170px;
    height: 170px;
    border-radius: 8px;
    border: 1px solid black;
     transition: box-shadow 0.3s ease;
}
.x-mark{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #111111;
    border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1;
   right: 0;
}
.hover-square{
    height: 170px;
    width: 145px;
    position: absolute;
    z-index: -1;
    margin-bottom: 6px;
    border-radius: 8px;
    left: 10px;
    background-color: rgba(98, 120, 177, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease;
}
.search_card-title-rec{
    position: absolute;
    bottom: 0;
    z-index: 1;
    margin-top: 13px;
}
.search_card-title{
    margin-top: 13px;
    text-align: center;
}
.artist{
    color: #fff;
    font-weight: 400;
}

// brows all section

.section-cards {
  display: flex;
  overflow-x: auto;
  gap: 12px;
 padding: 10px;
  &::-webkit-scrollbar { display: none; }
}

.card_2-wrapper {
  flex-shrink: 0; // არ დაიკუმშოს!
  flex-grow: 0;   // არ გაიჭიმოს!
  width: clamp(100px, 15vw, 170px);
  height: clamp(100px, 15vw, 170px);
}
.section-title{
    margin: 25px;
    color: #fff;
    font-weight: 600;
}
.section-cards{
    margin: 15px;
}
.section-header{
    display: flex;
    justify-content: space-between;
}
